bitrepository-core/src/main/resources/xsd/ReferenceSettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  #%L
  Bitrepository Common
  %%
  Copyright (C) 2010 - 2012 The State and University Library, The Royal Library and The State Archives, Denmark
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as 
  published by the Free Software Foundation, either version 2.1 of the 
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public 
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-2.1.html>.
  #L%
  -->


<xs:schema targetNamespace="http://bitrepository.org/settings/ReferenceSettings.xsd"
           attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns="http://bitrepository.org/settings/ReferenceSettings.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <xs:element name="ReferenceSettings">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        The settings used in the reference implementation
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GeneralSettings" minOccurs="0" />
        <xs:element ref="ClientSettings" minOccurs="0" />
        <xs:element ref="PillarSettings" minOccurs="0" />
        <xs:element ref="DeleteFileSettings" minOccurs="0" />
        <xs:element ref="GetAuditTrailSettings" minOccurs="0" />
        <xs:element ref="GetChecksumsSettings" minOccurs="0" />
        <xs:element ref="GetFileSettings" minOccurs="0" />
        <xs:element ref="GetFileIDsSettings" minOccurs="0" />
        <xs:element ref="GetStatusSettings" minOccurs="0" />
        <xs:element ref="PutFileSettings" minOccurs="0" />
        <xs:element ref="ReplaceFileSettings" minOccurs="0" />
        <xs:element ref="AlarmServiceSettings" minOccurs="0" />
        <xs:element ref="AuditTrailServiceSettings" minOccurs="0" />
        <xs:element ref="IntegrityServiceSettings" minOccurs="0" />
        <xs:element ref="MonitoringServiceSettings" minOccurs="0" />
        <xs:element ref="FileExchangeSettings" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GeneralSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>General settings for a client</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="ReceiverDestinationIDFactoryClass" minOccurs="0" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Defines the class to construct receiver destination IDs. The DefaultReceiverDestinationIDFactory
              will be used if undefined.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ClientSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>General settings for a client</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="MediatorCleanupInterval" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The amount of milliseconds between the cleanups in the
              ConversationMediator.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ConversationTimeout" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The timeout for a conversation in milliseconds.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OperationRetryCount" type="xs:nonNegativeInteger" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Number of allowed automatic retries for the performing part of an operation.
              This relates to operations which can fail due to file transfer errors.
              0 denotes that a operation should not be retried (only the initial operation attempt).
              1 or higher denotes the number of additional attempts of file transfer. I.e. if 2 up to 3
              attempts is allowed before the operation fails.

            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PillarSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          The settings for the org.bitrepository.protocol
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="PillarID" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The ID for this pillar.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="CollectionDirs" minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The directories for the given collections.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="MinimumSizeLeft" type="xs:long">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The minimum amount of bytes left in the archive, when storing a
              file.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="TimeToStartDeliver" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation>
              The time to use as timeToStartDeliver in identification responses in milliseconds.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="MaxAgeForChecksums" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation>
              The number of milliseconds a checksum can be before it has to be recalculated.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="EnsureChecksumWorkflowInterval" type="xs:nonNegativeInteger" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              The number of milliseconds between running the workflow for ensuring the checksums integrity.
              Default is once per hour, or 3600000.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AuditTrailContributerDatabase" type="DatabaseSpecifics">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The specifics for the AuditContributorDatabase for the reference pillar.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ChecksumDatabase" type="DatabaseSpecifics">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The specifics for the ChecksumDatabase for the reference pillar.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="AlarmLevel" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The level for raising Alarms.
              Default value is 'ERROR'-level.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="ChecksumPillarFileDownload" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Whether the ChecksumPillar should download the file regarding PutFile operations.
              Default value is 'DOWNLOAD_WHEN_MISSING_FROM_MESSAGE'.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="FileStoreClass" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Classpath for the FileStore backend of the ReferencePillar.
              Default value, when undefined is: 
              'org.bitrepository.pillar.referencepillar.archive.CollectionArchiveManager'.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CollectionDirs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CollectionID" type="xs:string" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The list of collection ids to have its data archived with the following list of directories.
              Each collection will have its files archived in its own sub-directory with the collection name.
              A collection is only able to be used in one 'CollectionDir'.

              If no collection ids are defined, then it will be used as default directory for the collections, which
              does not have a specific set of directories defined.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="FileDirs" type="xs:string" minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The path to all the directories where the files should be archived for this collection id.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AlarmLevel">
    <xs:simpleType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Define the severeness of an incident before raising an Alarm.
        </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="EMERGENCY">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Will only send an Alarm for the severest protocol level issues
              (e.g. invalid message or certificate).
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="ERROR">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Sends an Alarm in the case of checksum errors or if a request does not uphold the
              contract in CollectionSettings (e.g. does not contain the required checksums
              for a put, delete or replace operation).
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="WARNING">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Sends an Alarm whenever an operation or identification fails (e.g. missing file,
              file already exist, etc.).
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ChecksumPillarFileDownload">
    <xs:simpleType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Decision for whether the ChecksumPillar should download the file in the PutFile operation,
          or whether it should only accept the checksum from the PutFileRequest message.
          This follows rfc2119 regarding requirement for the download.
        </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="ALWAYS_DOWNLOAD">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The ChecksumPillar MUST always download the file at the FileAddress URL in the
              PutFileRequest message, no matter whether the checksum is given as part of the message.
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="NEVER_DOWNLOAD">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The ChecksumPillar MUST NOT download the file, but only use the embedded checksum in
              the PutFileRequest. If this checksum is missing, then the ChecksumPillar must fail the
              handling of the PutFileRequest.
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="DOWNLOAD_WHEN_MISSING_FROM_MESSAGE">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The ChecksumPillar SHOULD use the checksum in the PutFileRequest. Though if such a checksum
              is missing, then the ChecksumPillar MUST download the file for calculating the checksum.
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="DeleteFileSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the DeleteFileClient
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAuditTrailSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetAuditTrailClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetChecksumsSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetChecksumsClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetFileClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileIDsSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetFileIDsClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetStatusSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the GetStatusClient.
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:element name="PutFileSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the PutFileClient.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="PartialPutsAllow" type="xs:boolean" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Should the putClient attempt to put files to the pillars, even if only a subset of the pillars
              are available. Note this will break integrity, but will make the storage of files possible when pillars
              are unavailable for puts.
              The default is true.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReplaceFileSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the ReplaceFileClient
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="ServiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AlarmService" />
      <xs:enumeration value="AuditTrailService" />
      <xs:enumeration value="IntegrityService" />
      <xs:enumeration value="MonitoringService" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="MonitoringServiceSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the Alarm service.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="ID" type="xs:string" />
        <xs:element name="CollectionInterval" type="xs:long">
          <xs:annotation>
            <xs:documentation>
              Interval at which statuses is to be collected from components. Value in milliseconds.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="MaxRetries" type="xs:positiveInteger">
          <xs:annotation>
            <xs:documentation>
              Maximum number of times a component may fail to respond to a GetStatus.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AlarmServiceSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the Alarm service.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="ID" type="xs:string" />
        <xs:element ref="MailingConfiguration" minOccurs="0"/>
        <xs:element name="AlarmServiceDatabase" type="DatabaseSpecifics">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The specifics for the AlarmServiceDatabase.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AuditTrailServiceSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the Alarm service.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="ID" type="xs:string" />
        <xs:element name="SendAlarmOnMissingContributer" type="xs:boolean" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Specifies whether the audit trail services should send alarms when contributers defined to be part of
              the collection, doesn't reply to identify requests. Default is false.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AuditTrailServiceDatabase" type="DatabaseSpecifics">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The specifics for the AuditTrailServiceDatabase.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CollectAuditInterval" type="xs:long">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The amount of milliseconds to between each collecting of audit trail data from the contributors.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="TimerTaskCheckInterval" type="xs:long">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The amount of milliseconds for the timertask to check whether it is time to run the collector.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="GracePeriod" type="xs:long" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Initial grace period in milliseconds after startup to allow the system to finish startup. The default is
              0 ms.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="MaxNumberOfEventsInRequest" type="xs:positiveInteger" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The max number of elements to reuest in a single GetAuditTrailsRequest. Default is 10000
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AuditTrailPreservationInterval" type="xs:long">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The amount of milliseconds between each preservation of audit trails.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AuditTrailPreservationCollection" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The collection the audit trail should be backup to.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AuditTrailPreservationTemporaryDirectory" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Path to the directory where the temporary audit trail preservation files are stored.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="IntegrityServiceSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the Integrity service.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="ID" type="xs:string" />
        <xs:element name="Workflows" type="WorkflowSettings" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Defines which workflow to run when on what collections. If undefined the following workflows are run:
              CompleteIntegrityCheck on all collections every day.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="SchedulerInterval" type="xs:long" minOccurs="0" >
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The amount of milliseconds between each time the scheduler checks if any workflow should be run. The
              default is 60000 ms, eg. 1 minut.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="GracePeriod" type="xs:long" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Initial grace period in milliseconds after startup to allow the system to finish startup.
              The default is 0 ms.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="IntegrityDatabase" type="DatabaseSpecifics">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The specifics for the IntegrityDatabase.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="TimeBeforeMissingFileCheck" type="xs:long">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The number of milliseconds a file has to be known by the system before it is set to missing.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="MaximumNumberOfResultsPerConversation" type="xs:positiveInteger" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The maximum number of results for each conversation when updating the database with checksums or
              file ids from the pillars using the GetChecksumsClient or GetFileIDsClient respectively.
              Optional. If not set, then the default value is 10000.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AuditTrailContributerDatabase" type="DatabaseSpecifics">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The specifics for the AuditContributorDatabase for the integrity service.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ObsoleteChecksumSettings" type="ObsoleteChecksumSettings" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The default MaxChecksumAge to use for pillars. Can be overridden by pillar specific settings. If undefined
              1 year is used.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

    <xs:complexType name="WorkflowSettings">
      <xs:annotation>
        <xs:documentation>List of Collections present in the repository.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="Workflow" type ="WorkflowConfiguration" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>

  <xs:complexType name="WorkflowConfiguration">
    <xs:annotation>
      <xs:documentation>Defines a specific workflow.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WorkflowClass" type="xs:string" minOccurs="0" >
        <xs:annotation>
          <xs:documentation>The class for the workflow to run.
            The class most implement the workflow interface</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="Schedules" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            List of the schedules to run for this workflow.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Schedules">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>List of Collections present in the repository.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element ref="Schedule" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Schedule">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>Defines a specific workflow.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="WorkflowInterval" type="xs:long">
          <xs:annotation>
            <xs:documentation>The time in milliseconds between the workflow is run.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="Collections" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              List of the collections this scheduled workflow should be run on. If no collections are specified, the workflow is
              run on all workflows.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Collections">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>Defines a set of collections.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="CollectionID" type="xs:string" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ObsoleteChecksumSettings">
    <xs:annotation>
      <xs:documentation>
        The settings for the Alarm service.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DefaultMaxChecksumAge" type="xs:positiveInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            The default MaxChecksumAge to use for pillars. Can be overridden by pillar specific settings. If undefined
            1 year is used.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaxChecksumAgeForPillar" type="MaxChecksumAgeForPillar" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Specific pillar overrides for MaxChecksumAge.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MaxChecksumAgeForPillar">
    <xs:sequence>
      <xs:element name="PillarID" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            The ID of the pillar.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaxChecksumAge" type="xs:positiveInteger">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            The max checksum age for the pillar.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="MailingConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MailReceiver" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The receiver of the mail. Several receiver will be split by a comma: ','.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="MailSender" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The sender of the mail.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="MailServer" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The server where the mail is sent from.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="DatabaseSpecifics">
    <xs:annotation>
      <xs:documentation>
        Could very well be improved with other configurations like:
        http://www.mchange.com/projects/c3p0/#configuration_properties
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DriverClass" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            The class for the driver for the database. E.g.
            'org.apache.derby.jdbc.EmbeddedDriver' or
            'org.postgresql.Driver'
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatabaseURL" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            The URL for accessing the database.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Username" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            OPTIONAL. The username for accessing the database.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Password" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            OPTIONAL. The password for accessing the database.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="FileExchangeSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The settings for the exchange of files.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element ref="ProtocolType">
          <xs:annotation>
            <xs:documentation>
              The protocol for the file exchange, e.g. HTTP.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ServerName" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              The name for the server to exchange the file through.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Port" type="xs:positiveInteger">
          <xs:annotation>
            <xs:documentation>
              The port used by the protocol.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Path" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              The path on the server to the directory, where the data can be exchanged.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ProtocolType">
    <xs:simpleType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Define the type of protocol
        </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="HTTP">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              An default HTTP protocol.
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="HTTPS">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The secure HTTPS protocol.
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>