bitrepository-message-xml/src/main/resources/BitRepositoryMessages.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- URLs in schema targetNamespace must be updated later -->
<xs:schema targetNamespace="http://tempuri.org/BitRepositoryMessages.xsd" 
     attributeFormDefault="unqualified" 
     elementFormDefault="qualified" 
     xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:bre="https://gforge.statsbiblioteket.dk/svn/bitmagasin/trunk/bitrepository-message-xml/src/main/resources/BitRepositoryElements.xsd"
     xsi:schemaLocation="https://gforge.statsbiblioteket.dk/svn/bitmagasin/trunk/bitrepository-message-xml/src/main/resources/BitRepositoryElements.xsd https://gforge.statsbiblioteket.dk/svn/bitmagasin/trunk/bitrepository-message-xml/src/main/resources/BitRepositoryElements.xsd"
>
     
  <!-- URL in import targetNamespace must be updated later -->
  <xs:import namespace="https://gforge.statsbiblioteket.dk/svn/bitmagasin/trunk/bitrepository-message-xml/src/main/resources/BitRepositoryElements.xsd" />

  <!-- ************************************************************** -->
  <!-- * Operation messages for Get                                 * -->
  <!-- ************************************************************** -->

  <!-- **************                                                 -->
  <!-- *** Messages for IdentifyPillarsForGet Primitive               -->

  <xs:element name="IdentifyPillarsForGetRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in IdentifyPillarsForGet primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <xs:element ref="bre:DataID" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for requested data in given SLA 
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyPillarsForGetReply">
    <xs:annotation><xs:documentation xml:lang="en">
    REPLY in IdentifyPillarsForGet primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <xs:element ref="bre:DataID" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for requested data in given SLA
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarID" >
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for pillar replying
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type in case it is a checksum pillar replying 
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:TimeToDeliver" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Estimated time before delivery of data requested
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- **************                                                        -->
  <!-- *** Messages for Get Primitive                                        -->
  
  <!-- ***  Messages for Get Primitive are only sent to one specific pillar  -->
  <!-- ***  which corresponds to ReplyTo from IdentifyPillarsForGetReply     -->
  
  <xs:element name="GetRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in Get primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
      
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
      
        <!-- Credentials for the Get operation on the specific pillar/SLA -->
        <xs:element ref="bre:PillarCredentials" minOccurs="0" maxOccurs="1" /> 

        <!-- Unique identifier for requested data in given SLA -->
        <xs:element ref="bre:DataID" /> 

        <!-- Address (e.g. in form of an URL) for where data must be delivered -->
        <xs:element ref="bre:DataAddress" /> 

        <!-- Identifier of receiving pillar, which can be used for possible checks -->
        <!-- (IdentifyPillarsForGetReply.ReplyTo should ensure that right pillar is reached)  -->
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" /> 
        
        <!-- Checksums type of receiving checksums pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" /> 
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="GetResponse">
    <xs:annotation><xs:documentation xml:lang="en">
    RESPONSE in Get primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <!-- Unique identifier for requested data in given SLA -->
        <xs:element ref="bre:DataID" />
        
        <!-- Address (e.g. in form of an URL) for where data will be delivered -->
        <xs:element ref="bre:DataAddress" />

        <!-- Identifier of replying pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" /> 
        
        <!-- Checksums type of replying checksums pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" /> 

        <!-- Response code telling whether GetRequest has been received and is expected to be completed -->
        <xs:element ref="bre:ResponseCode" />  
        
        <!-- Response text containing additional information for logging only -->
        <xs:element ref="bre:ResponseText" minOccurs="0" maxOccurs="1" />  
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="GetComplete">
    <xs:annotation><xs:documentation xml:lang="en">
    COMPLETE in Get primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <!-- Unique identifier for requested data in given SLA -->
        <xs:element ref="bre:DataID" /> 
        
        <!-- Address (e.g. in form of an URL) for where data has been delivered (if completed) -->
        <xs:element ref="bre:DataAddress" />
        
        <!-- Identifier of replying pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" /> 
        
        <!-- Checksums type of replying checksums pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" /> 

        <!-- Complete code telling how Get has been completed -->
        <xs:element ref="bre:CompleteCode" />  
        
        <!-- Complete text containing additional information for logging only -->
        <xs:element ref="bre:CompleteText" minOccurs="0" maxOccurs="1" />  
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- ************************************************************** -->
  <!-- * Operation messages for Put                                 * -->
  <!-- ************************************************************** -->

  <!-- **************                                                 -->
  <!-- *** Messages for IdentifyPillarsForPut Primitive               -->

  <xs:element name="IdentifyPillarsForPutRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in IdentifyPillarsForPut primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <!-- Unique identifier for data to be put for given SLA -->
        <xs:element ref="bre:DataID" /> 
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyPillarsForPutReply">
    <xs:annotation><xs:documentation xml:lang="en">
    REPLY in IdentifyPillarsForPut primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <!-- Unique identifier for data to be put for given SLA -->
        <xs:element ref="bre:DataID" /> 

        <!-- Unique identifier for pillar replying -->
        <xs:element ref="bre:PillarID" />
        
        <!-- Checksums type in case it is a checksum pillar replying -->
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" /> 
        
        <!-- Estimated time before data is downloaded -->
        <xs:element ref="bre:TimeToDeliver" /> 
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- **************                                                       -->
  <!-- *** Messages for Put Primitive                                       -->

  <!-- ***  Messages for Put Primitive are only sent to one specific pillar  -->
  <!-- ***  which corresponds to ReplyTo from IdentifyPillarsForPutReply     -->
  
  <xs:element name="PutRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in Put primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <!-- Credentials for the Put operation on the specific pillar/SLA -->
        <xs:element ref="bre:PillarCredentials" minOccurs="0" maxOccurs="1" /> 

        <!-- Unique identifier for data to be put for given SLA -->
        <xs:element ref="bre:DataID" /> 
        
        <!-- Address (e.g. in form of an URL) for where data must be downloaded from -->
        <xs:element ref="bre:DataAddress" /> 

        <!-- Identifier of receiving pillar, which can be used for possible checks  -->
        <!-- (IdentifyPillarsForGetReply.ReplyTo should ensure that right pillar is reached)  -->
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" /> 
        
        <!-- Checksums type of receiving checksums pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" /> 
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="PutResponse">
    <xs:annotation><xs:documentation xml:lang="en">
    RESPONSE in Put primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <!-- Unique identifier for data to be put for given SLA -->
        <xs:element ref="bre:DataID" /> 

        <!-- Address (e.g. in form of an URL) for where data is to be downloaded from -->
        <xs:element ref="bre:DataAddress" />

        <!-- Identifier of receiving pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" /> 
        
        <!-- Checksums type of receiving checksums pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" /> 

        <!-- Response code telling whether PutRequest has been received and is expected to be completed -->
        <xs:element ref="bre:ResponseCode" />  
        
        <!-- Response text containing additional information for logging only -->
        <xs:element ref="bre:ResponseText" minOccurs="0" maxOccurs="1" />  
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="PutComplete">
    <xs:annotation><xs:documentation xml:lang="en">
    COMPLETE in Put primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <!-- Unique identifier for data to be put for given SLA -->
        <xs:element ref="bre:DataID" /> 

        <!-- Address (e.g. in form of an URL) for where data has been downloaded from (if completed) -->
        <xs:element ref="bre:DataAddress" />
        
        <!-- Identifier of receiving pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" /> 
        
        <!-- Checksums type of receiving checksums pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" /> 

        <!-- Complete code telling how Put has been completed -->
        <xs:element ref="bre:CompleteCode" />  
        
        <!-- Complete text containing additional information for logging only -->
        <xs:element ref="bre:CompleteText" minOccurs="0" maxOccurs="1" />  
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- ************************************************************** -->
  <!-- * Get checksums operation messages                           * -->
  <!-- ************************************************************** -->

  <!-- **************                                                 -->
  <!-- *** Messages for IdentifyPillarsForGetChecksums Primitive      -->

  <xs:element name="IdentifyPillarsForGetChecksumsRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in IdentifyPillarsForGetChecksums primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <!-- DataIDs uniquely identifies the data in given SLA which the checksums are requested for -->
        <xs:element ref="bre:DataIDs" />

        <!-- Checksums type requested -->
        <xs:element ref="bre:DataChecksumType" /> 
        
        <!-- SaltParameter is salt to be included in calculation of checksums requested -->
        <xs:element ref="bre:SaltParameter" minOccurs="0" maxOccurs="1" /> 
      </xs:sequence>
      
      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="IdentifyPillarsForGetChecksumsReply">
    <xs:annotation><xs:documentation xml:lang="en">
    REPLY in IdentifyPillarsForGetChecksums primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>

        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <!-- DataIDs uniquely identifies the data in given SLA which the checksums are requested for -->
        <xs:element ref="bre:DataIDs" />

        <!-- Checksums type requested -->
        <xs:element ref="bre:DataChecksumType" /> 
        
        <!-- SaltParameter is salt to be included in calculation of checksums requested -->
        <xs:element ref="bre:SaltParameter" minOccurs="0" maxOccurs="1" /> 

        <!-- Unique identifier for pillar replying -->
        <xs:element ref="bre:PillarID" />
        
        <!-- Checksums type in case it is a checksum pillar replying -->
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" /> 
        
        <!-- Estimated time before delivery of checksums requested -->
        <xs:element ref="bre:TimeToDeliver" /> 
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- **************                                                 -->
  <!-- *** Messages for GetChecksums Primitive                        -->

  <!-- ***  Messages for GetChecksums Primitive are only sent to one specific pillar  -->
  <!-- ***  which corresponds to ReplyTo from IdentifyPillarsForGetChecksumsReply     -->
  
  <xs:element name="GetChecksumsRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in GetChecksums primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>

        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <!-- Credentials for the Get Checksums operation on the specific pillar/SLA -->
        <xs:element ref="bre:PillarCredentials" minOccurs="0" maxOccurs="1" /> 

        <!-- DataIDs uniquely identifies the data in given SLA which the checksums are requested for -->
        <xs:element ref="bre:DataIDs" />
        
        <!-- Checksums type requested -->
        <xs:element ref="bre:DataChecksumType" /> 
        
        <!-- SaltParameter is salt to be included in calculation of checksums requested -->
        <xs:element ref="bre:SaltParameter" minOccurs="0" maxOccurs="1" /> 

        <!-- Address (e.g. in form of an URL) for where checksums must be delivered via data transmission -->
        <!-- In cases where the address is not given, the result will be given in the GetChecksumsComplete message -->
        <xs:element ref="bre:DataAddress" minOccurs="0" maxOccurs="1"/> 

        <!-- Identifier of receiving pillar, which can be used for possible checks -->
        <!-- (IdentifyPillarsForGetReply.ReplyTo should ensure that right pillar is reached)  -->        
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" /> 
        
        <!-- Checksums type of receiving checksums pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" /> 
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="GetChecksumsResponse">
    <xs:annotation><xs:documentation xml:lang="en">
    RESPONSE in GetChecksums primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>

        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <!-- DataIDs uniquely identifies the data in given SLA which the checksums are requested for -->
        <xs:element ref="bre:DataIDs" />

        <!-- DataChecksumType is the checksums type requested -->
        <xs:element ref="bre:DataChecksumType" /> 

        <!-- SaltParameter is salt to be included in calculation of checksums requested -->
        <xs:element ref="bre:SaltParameter" minOccurs="0" maxOccurs="1" /> 

        <!-- Address (e.g. in form of an URL) for where checksums will be delivered -->
        <xs:element ref="bre:DataAddress" />

        <!-- Identifier of receiving pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" /> 
        
        <!-- Checksums type of receiving checksums pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" /> 

        <!-- Response code telling whether GetChecksumsRequest has been received and is expected to be completed -->
        <xs:element ref="bre:ResponseCode" />  
        
        <!-- Response text containing additional information for logging only -->
        <xs:element ref="bre:ResponseText" minOccurs="0" maxOccurs="1" />  
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="GetChecksumsComplete">
    <xs:annotation><xs:documentation xml:lang="en">
    COMPLETE in GetChecksums primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>

        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <!-- DataIDs uniquely identifies the data in given SLA which the checksums are requested for -->
        <xs:element ref="bre:DataIDs" />

        <!-- Checksums type requested -->
        <xs:element ref="bre:DataChecksumType" /> 
        
        <!-- SaltParameter is salt to be included in calculation of checksums requested -->
        <xs:element ref="bre:SaltParameter" minOccurs="0" maxOccurs="1" /> 

        <!-- Address (e.g. in form of an URL) for where checksums has been delivered (if completed) -->
        <xs:element ref="bre:DataAddress" />
        
        <!-- Identifier of receiving pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" /> 
        
        <!-- Checksums type of receiving checksums pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" /> 

        <!-- Complete code telling how GetChecksums has been completed -->
        <xs:element ref="bre:CompleteCode" />  
        
        <!-- Complete text containing additional information for logging only -->
        <xs:element ref="bre:CompleteText" minOccurs="0" maxOccurs="1" />  

        <!-- The number of checksums included, if given in this message instead of via data transfer -->
        <xs:element ref="bre:NoOfResults" minOccurs="0" maxOccurs="1" /> 

        <!-- List of data for checksums in result, if given in this message instead of via data transfer-->
        <xs:group ref="bre:ChecksumsData" minOccurs="0" maxOccurs="unbounded" /> 

      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- ************************************************************** -->
  <!-- * Operation messages for GetDataIDs                          * -->
  <!-- ************************************************************** -->

  <!-- **************                                                 -->
  <!-- *** Messages for IdentifyPillarsForGetDataIDs Primitive        -->

  <xs:element name="IdentifyPillarsForGetDataIDsRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in IdentifyPillarsForGetDataIDs primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyPillarsForGetDataIDsReply">
    <xs:annotation><xs:documentation xml:lang="en">
    REPLY in IdentifyPillarsForGetDataIDs primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>

        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <!-- Unique identifier for pillar replying -->
        <xs:element ref="bre:PillarID" />
        
        <!-- Estimated time before delivery of data requested -->
        <xs:element ref="bre:TimeToDeliver" /> 
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- **************                                                 -->
  <!-- *** Messages for GetDataIDs Primitive                          -->
  
  <!-- ***  Messages for GetDataIDs Primitive are only sent to one specific pillar  -->
  <!-- ***  which corresponds to ReplyTo from IdentifyPillarsForGetDataIDsReply     -->
  
  <xs:element name="GetDataIDsRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in GetDataIDs primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
      
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
      
        <!-- Credentials for the Get data IDs operation on the specific pillar/SLA -->
        <xs:element ref="bre:PillarCredentials" minOccurs="0" maxOccurs="1" /> 

        <!-- Address (e.g. in form of an URL) for where data ids must be delivered via data transmission -->
        <!-- In cases where the address is not given, the result will be given in the GetDataIdsComplete message -->
        <xs:element ref="bre:DataAddress" minOccurs="0" maxOccurs="1"/> 

        <!-- Identifier of receiving pillar, which can be used for possible checks -->
        <!-- (IdentifyPillarsForGetReply.ReplyTo should ensure that right pillar is reached)  -->
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" /> 

      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="GetDataIDsResponse">
    <xs:annotation><xs:documentation xml:lang="en">
    RESPONSE in GetDataIDs primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <!-- Address (e.g. in form of an URL) for where data will be delivered -->
        <xs:element ref="bre:DataAddress" />

        <!-- Identifier of receiving pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" /> 
        
        <!-- Response code telling whether GetRequest has been received and is expected to be completed -->
        <xs:element ref="bre:ResponseCode" />  
        
        <!-- Response text containing additional information for logging only -->
        <xs:element ref="bre:ResponseText" minOccurs="0" maxOccurs="1" />  
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="GetDataIDsComplete">
    <xs:annotation><xs:documentation xml:lang="en">
    COMPLETE in GetDataIDs primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <!-- Address (e.g. in form of an URL) for where data has been delivered (if completed) -->
        <xs:element ref="bre:DataAddress" />
        
        <!-- Identifier of receiving pillar, which can be used for possible checks -->
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" /> 
        
        <!-- Complete code telling how Get has been completed -->
        <xs:element ref="bre:CompleteCode" />  
        
        <!-- Complete text containing additional information for logging only -->
        <xs:element ref="bre:CompleteText" minOccurs="0" maxOccurs="1" />  

        <!-- The number of checksums included, if given in this message instead of via data transfer -->
        <xs:element ref="bre:NoOfResults" minOccurs="0" maxOccurs="1"/> 

        <!-- List of data for data ids in result, if given in this message instead of via data transfer-->
        <xs:group ref="bre:DataIDsData" minOccurs="0" maxOccurs="unbounded" /> 

      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

</xs:schema>
