bitrepository-protocol/src/main/resources/configuration/schema/Configuration.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- URLs in schema targetNamespace must be updated later -->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://bitrepository.org/protocol/Configuration.xsd"
	targetNamespace="http://bitrepository.org/protocol/Configuration.xsd"
	elementFormDefault="qualified">
	
	
	<element name="ProtocolConfiguration">
		<annotation>
			<documentation xml:lang="en">
				The full configuration for the
				protocol module
	    		</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="messageBusConfigurations" type="tns:MessageBusConfigurations">
					<annotation>
						<documentation xml:lang="en">
							The configurations for the
							message busses
	          			</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>

	<complexType name="MessageBusConfigurations">
		<annotation>
			<documentation xml:lang="en">
				The configurations for the
				message busses
          	</documentation>
		</annotation>
		<sequence>
			<element name="primaryMessageBusConfiguration" type="tns:MessageBusConfiguration">
				<annotation>
					<documentation xml:lang="en">
						The configuration for the primary message bus
        			</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="MessageBusConfiguration">
		<annotation>
			<documentation xml:lang="en">
				The configuration for a single message bus instance (may be a cluster)
			</documentation>
		</annotation>
		<sequence>
			<element name="id" type="string">
				<annotation>
					<documentation xml:lang="en">
						The ID for this message bus
        			</documentation>
				</annotation>
			</element>
			<element name="url" type="string">
				<annotation>
					<documentation xml:lang="en">
						This is where the message bus can be found
        			</documentation>
				</annotation>
			</element>
			<element name="username" type="string">
				<annotation>
					<documentation xml:lang="en">
						The user to user for logging into the message bus
        			</documentation>
				</annotation>
			</element>
			<element name="password" type="string">
				<annotation>
					<documentation xml:lang="en">
						The password for logging into the message bus
        			</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="FileExchangeConfiguration">
		<annotation>
			<documentation xml:lang="en">
				The configuration for a single message bus instance (may be a cluster)
			</documentation>
		</annotation>

		<sequence>

		</sequence>
	</complexType>
</schema>
