protocol/src/main/resources/BitStorageElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/BitStorageElements.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/BitStorageElements.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:group name="core">
    <xs:sequence>
      <xs:element name="CorrelationID" />
      <xs:element name="ReplyTo" />
    </xs:sequence>
  </xs:group>
  <xs:element name="FileName" />
  <xs:element name="DataURL" />
  <xs:element name="TimeToDeliver" />
</xs:schema>
