bitrepository-message-xml/src/main/resources/xsd/BitRepositoryElements.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- URLs in schema targetNamespace must be updated later -->
<xs:schema
  targetNamespace="http://bitrepository.org/BitRepositoryElements.xsd"
  elementFormDefault="qualified"

  xmlns="http://bitrepository.org/BitRepositoryElements.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

<!-- ************************************************************** -->
<!-- ****** USED ELEMENTS AND GROUPS IN ALPHABETIC ORDER     ****** -->
<!-- ************************************************************** -->

  <xs:element name="AlarmConcerning">
    <xs:annotation><xs:documentation xml:lang="en">
      Data format for information on which components the alarm concern
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FileInformation">
          <xs:annotation><xs:documentation xml:lang="en">
            Identifies which objects the alarm concerns
            (dataIds, dataIdPattern, dataTimeInterval, dataSizeInterval, checksumsType)
          </xs:documentation></xs:annotation>
          <xs:complexType>
            <xs:choice>
              <xs:element ref="FileIDs">
                <xs:annotation><xs:documentation xml:lang="en">
                Identifiers that uniquely identifies the data in given bit repository collection
                </xs:documentation></xs:annotation>
              </xs:element>
              <!-- todo To be extended with more ways to identify the files concerned -->
            </xs:choice>
          </xs:complexType>
        </xs:element>

        <xs:element name="Components">
          <xs:annotation><xs:documentation xml:lang="en">
            Identifies the pillars, clients and data transmission(s) which the alarm concerns
          </xs:documentation></xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="Contributor" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="DataTransmission" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="BitRepositoryCollections">
          <xs:annotation><xs:documentation xml:lang="en">
          Identifies the bit repository collections which the alarm concerns
          </xs:documentation></xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="BitRepositoryCollectionID" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Messages" type="xs:string">
          <xs:annotation><xs:documentation xml:lang="en">
            Inclusion of message(s) which the alarm concerns
          </xs:documentation></xs:annotation>
          <!-- todo Work in progress -->
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AlarmDescription">
    <xs:annotation><xs:documentation xml:lang="en">
      Data format for elements in the description of the alarm
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OrigDateTime" type="SystemDateTime_TYPE">
          <xs:annotation><xs:documentation xml:lang="en">
            Original data/time for discovery of alarm
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="AlarmCode" type="ALARMCODE_TYPE">
          <xs:annotation><xs:documentation xml:lang="en">
            Global alarm code for the system which describes what the alarm consist of
            The actual codes are specified later, e.g. IoError, DataNotFound, AccessDenied, OK
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="AlarmText" type="xs:string">
          <xs:annotation><xs:documentation xml:lang="en">
            AlarmText is a free text for logging of the alarm
            It does not have a semantic meaning, but contributes to a more readable log
            and possible notifications
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="Priority" type="PriorityCode_TYPE" minOccurs="0" maxOccurs="1">
          <xs:annotation><xs:documentation xml:lang="en">
            Global priority code for the system, which indicates e.g. how and how fast the alarm must be treated
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="Risk" type="Risk_TYPE" minOccurs="0" maxOccurs="1">
          <xs:annotation><xs:documentation xml:lang="en">
            Risk of specified scenario becoming reality, if alarm is not treated.
          </xs:documentation></xs:annotation>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AlarmRaiser" type="Component_TYPE" >
    <xs:annotation><xs:documentation xml:lang="en">
    Component responsible for raising an alarm
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="AuditTrailData">
        <xs:annotation><xs:documentation xml:lang="en">
        Data format for items in an audit trail
        </xs:documentation></xs:annotation>
        <xs:complexType>
          <xs:sequence>

            <xs:element ref="NoOfItems" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              The number of audit trail data items included for the specified FileID
              </xs:documentation></xs:annotation>
            </xs:element>

            <xs:element name="AuditTrailDataItems" >
              <xs:annotation><xs:documentation xml:lang="en" >
              List of audit trail data items in result
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="AuditTrailDataItem" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    <xs:element name="AuditTrailDataItem">
    <xs:annotation><xs:documentation xml:lang="en">
    Data format for elements in an audit trail for a FileID
    </xs:documentation></xs:annotation>
    <xs:complexType>
    <xs:sequence>
      <xs:element name="FileID" type="FileID_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        FileID for object which the audit trail concern
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="ReportingComponent" type="Component_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        Component of the bit repository which initiated audit trail entry on FileId object.
        For example client, pillar or coordination layer
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="ActorOnFile" type="Actor_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        Actor who performed the specified action on FileId object.
        For example specific user or specific process
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="ActionOnFile" type="Action_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        Action performed by the actor on FileId object
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="ActionDateTime" type="SystemDateTime_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        Date and time for when action took place
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="BitRepositoryCollectionID" type="BitRepositoryCollectionID_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    A unique identifier for bit repository collection which data belongs to.
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="ChecksumsDataForBitRepositoryFile">
    <!-- TODO common ChecksumsDataGroupedByFile_TYPE; two restrictions on ParameterSpecification -->
    <xs:complexType>
    <xs:annotation><xs:documentation xml:lang="en">
    Checksums data for one file. Multiple checksums with different specifications.
    The file is in the bit repository.
    </xs:documentation></xs:annotation>
      <xs:sequence>
        <xs:element name="FileID" type="FileID_TYPE" >
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of data the checksum is for
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="NoOfItems" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          The number of checksums included
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="ChecksumDataItems">
          <xs:annotation><xs:documentation xml:lang="en">
          List of data for checksums
          </xs:documentation></xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChecksumDataForFile"
                          type="ChecksumDataForFile_TYPE" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>

      <xs:attribute name="ParameterSpecification" type="xs:string" fixed="BitRepositoryFile">
        <xs:annotation><xs:documentation xml:lang="en">
          File parameter specification of bit repository file
        </xs:documentation></xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="ChecksumsDataForNewFile">
    <xs:complexType>
    <xs:annotation><xs:documentation xml:lang="en">
    Checksums data for one file. Multiple checksums with different specifications.
    The file is new to the bit repository.
    </xs:documentation></xs:annotation>
      <xs:sequence>
        <xs:element name="FileID" type="FileID_TYPE" >
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of data the checksum is for
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="NoOfItems" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          The number of checksums included
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="ChecksumDataItems">
          <xs:annotation><xs:documentation xml:lang="en">
          List of data for checksums
          </xs:documentation></xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChecksumDataForFile"
                          type="ChecksumDataForFile_TYPE" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>

      <xs:attribute name="ParameterSpecification" type="xs:string" fixed="NewFile">
        <xs:annotation><xs:documentation xml:lang="en">
          File parameter specification of new file
        </xs:documentation></xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="ChecksumsDataGroupedByChecksumSpec">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      Checksums data using the same checksum specification. Multiple file IDs.
      </xs:documentation></xs:annotation>
      <xs:sequence>
        <xs:element name="ChecksumSpec" type="ChecksumSpec_TYPE">
          <xs:annotation><xs:documentation xml:lang="en">
          The type and possible salt for calculation of the checksums
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="NoOfItems">
          <xs:annotation><xs:documentation xml:lang="en">
          The number of checksums included
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="ChecksumDataItems">
          <xs:annotation><xs:documentation xml:lang="en">
          List of data for checksums
          </xs:documentation></xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChecksumDataForChecksumSpec"
                          type="ChecksumDataForChecksumSpec_TYPE" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>

    </xs:complexType>
  </xs:element>

  <xs:element name="ChecksumSpecs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NoOfItems" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          The number of checksums included
          </xs:documentation></xs:annotation>
        </xs:element>
        <xs:element name="ChecksumSpecsItems">
          <xs:annotation><xs:documentation xml:lang="en">
          List of data for checksums
          </xs:documentation></xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChecksumSpecsItem"  type="ChecksumSpec_TYPE" minOccurs="0" maxOccurs="unbounded" >
                <xs:annotation><xs:documentation xml:lang="en">
                Optionally salt and/or type of checksum for extra checksumscheck of data object at
                completion to of put file. The result can be given in PutFileFinalResponse
                </xs:documentation></xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Contributor" type="Component_TYPE" >
    <xs:annotation><xs:documentation xml:lang="en">
    Contributor to audit trails
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="ContributorStatus" type="ContributorStatus_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Contain status information about a componenet in the bit repository
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:group name="Core">
    <xs:annotation><xs:documentation xml:lang="en">
    Includes elements that all protocol messages must include.
    The core part will NOT be included in specific bit repository collection related encryption
    </xs:documentation></xs:annotation>

    <xs:sequence>
      <xs:element name="CorrelationID" type="CorrelationID_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        CorrelationID is a unique identifier for communication usually on primitive level,
        e.g the IdentifyPillarsForGet part of a get operation
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="BitRepositoryCollectionID" type="BitRepositoryCollectionID_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        BitRepositoryCollectionID is a unique identifier for bit repository collection
        which data belongs to.
        This is also the identification of decryption and keys for contents of message,
        and it is part of unique identification of files together with a file id.
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="To" type="QueueTopicName_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        Identifies the destination which the message is sent to
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="ReplyTo" type="QueueTopicName_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        Identifies the destination any responds should be sent to
        (blank if not relevant, e.g. for alarms)
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="AuditTrailInformation" type="AuditTrailInformation_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        Audit Trail Information known to sender to be added to receiver audit trail.
        Usually used by a client who knows a system user and wants this information as part of pillar audit trail.
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:element name="CorrelationID" type="CorrelationID_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Identifies a sequence of related messages based on a single operation, typically initiated from a client.
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="FileAddress" type="Address_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Address (e.g. in form of an URL) for where a file can be found
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="FileChecksumSpec" type="ChecksumSpec_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
        Defines a checksum specification
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="FileID" type="FileID_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Unique identifier for a file in a collection
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="FileIDs">
    <xs:annotation><xs:documentation xml:lang="en">
    Identifiers that uniquely identifies the data in given bit repository collection which are requested for
    These can be specified in different ways, e.g. a list, an all constant or via an address
    </xs:documentation></xs:annotation>

    <xs:complexType>
      <xs:choice>
        <xs:element name="FileID" type="FileID_TYPE" minOccurs="1" maxOccurs="unbounded" >
          <xs:annotation><xs:documentation xml:lang="en">
          List of file identifiers
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="AllFileIDs">
          <xs:annotation><xs:documentation xml:lang="en">
          Specification that all data identifiers in the collection is requested
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="ParameterAddress" type="Address_TYPE">
          <xs:annotation><xs:documentation xml:lang="en">
          Address where File ID list can be found on form FileIDsParameters
          </xs:documentation></xs:annotation>
        </xs:element>

        <!-- To be enhanced with other ways to address chunks of identifiers, e.g. for mass processing -->
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="FileIDsData">
    <xs:annotation><xs:documentation xml:lang="en">
    Includes relevant information on data IDs in a result
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NoOfItems" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          The number of data IDs included
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="FileIDsDataItems" >
          <xs:annotation><xs:documentation xml:lang="en" >
          List of data on data identifiers in result
          </xs:documentation></xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="FileIDsDataItem" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="FileIDsDataItem">
    <xs:annotation><xs:documentation xml:lang="en">
    Includes relevant information on a data ID in a result
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FileID" type="FileID_TYPE">
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of data
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="CalculationTimestamp" type="SystemDateTime_TYPE">
          <xs:annotation><xs:documentation xml:lang="en">
          The time when the data  was last seen
          (especially for off-line medias, there can be long intervals between
          actually seeing the file with the data, - in such cases this information is crucial for alarming)
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="FileIDsParameterData">
    <xs:annotation><xs:documentation xml:lang="en">
    Includes information on data IDs use in parameter
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NoOfItems" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          The number of data IDs included
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="FileIDsItems" >
          <xs:annotation><xs:documentation xml:lang="en" >
          List of file identifiers
          </xs:documentation></xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="FileID" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="FilePart" >
    <xs:annotation><xs:documentation xml:lang="en">
    Specification of data object part by posion and length after position
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PartOffSet" type="xs:nonNegativeInteger">
          <xs:annotation><xs:documentation xml:lang="en">
          Start position of the part of the data object
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="PartLength" type="xs:nonNegativeInteger">
          <xs:annotation><xs:documentation xml:lang="en">
          length of the part of the data object
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="FileSize" type="xs:nonNegativeInteger">
    <xs:annotation><xs:documentation xml:lang="en">
    The size of data expressed in number of bytes
    e.g. size of data to be put
    The type can later be extended to include measure type and measure
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="FinalResponseInfo">
    <xs:annotation><xs:documentation xml:lang="en">
    Information of completion
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FinalResponseCode" type="FinalResponseCode_TYPE">
          <xs:annotation><xs:documentation xml:lang="en">
          FinalResponseCode is a code for the type of completion given
          The actual codes are specified later, e.g. IoError, DataNotFound, AccessDenied, OK
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="FinalResponseText" type="xs:string">
          <xs:annotation><xs:documentation xml:lang="en">
          FinalResponseText is a text for logging in the completion
          It does not have a semantic meaning, but contributes to a more readable log
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyResponseInfo">
    <xs:annotation><xs:documentation xml:lang="en">
    Response information telling that the Identify request has been received and
    if an operation request can be met. This response info can be used to send 'negative' Identify responses.
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IdentifyResponseCode" type="IdentifyResponseCode_TYPE">
          <xs:annotation><xs:documentation xml:lang="en">
          IdentifyResponseCode is a code for the type of identify response given, such as AccessDenied or OK.
          Note that if the pillar does not know this collection ID, no identify response should be sent.
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="IdentifyResponseText" type="xs:string">
          <xs:annotation><xs:documentation xml:lang="en">
          IdentifyResponseText is a text for logging the type of identify response given.
          It does not have a semantic meaning, but contributes to a more readable log.
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="NoOfItems" type="xs:nonNegativeInteger">
    <xs:annotation><xs:documentation xml:lang="en">
    The number of results given in a delivered result
    e.g. number of checksums in result given in a data transmitted file or in a message
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="ParameterAddress" type="Address_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Address where parameter can be found
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="PillarChecksumSpec" type="ChecksumSpec_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Information about which type of checksum is used for data on checksums pillar (algorith and possible salt)
    In a Get this information will only be relevant for identification of pillars
    In a Put this will give input to check if the right put is performed on checksums pillar according to bit repository collection
    In first version this will be text like MD5, later it will be aligned with a standard
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="PillarID" type="PillarID_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    A unique identifier for a specific pillar (covered by the bit repository collection which data belongs to)
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="ProgressResponseInfo">
    <xs:annotation><xs:documentation xml:lang="en">
    Information of reponse
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProgressResponseCode" type="ProgressResponseCode_TYPE">
          <xs:annotation><xs:documentation xml:lang="en">
          A code for the type of progress response given
          The actual codes are specified later, e.g. UnknownFileId, OK
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="ProgressResponseText" type="xs:string" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          A text for logging in the progress response.
          It does not have a semantic meaning, but contributes to a more readable log
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ResultAddress" type="Address_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Address (e.g. in form of an URL) for where result data can be found
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="ResultingAuditTrails">
    <xs:annotation><xs:documentation xml:lang="en">
    result is either given via specified address or directly
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ResultAddress" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where result data has been delivered (if completed)
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="AuditTrailData">
          <xs:annotation><xs:documentation xml:lang="en">
          Audit trail data in result, if given in this message instead of via data transfer
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="ResultingChecksums">
    <xs:annotation><xs:documentation xml:lang="en">
    result is either given via specified address or directly
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ResultAddress" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where result data has been delivered (if completed)
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="ChecksumsDataGroupedByChecksumSpec">
          <xs:annotation><xs:documentation xml:lang="en">
          List of data for checksums in result, if given in this message instead of via data transfer
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="ResultingFileIDs">
    <xs:annotation><xs:documentation xml:lang="en">
    result is either given via specified address or directly
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ResultAddress" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where result data has been delivered (if completed)
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="FileIDsData">
          <xs:annotation><xs:documentation xml:lang="en">
          List of data for file ids in result, if given in this message instead of via data transfer
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="ResultingStatus">
    <xs:annotation><xs:documentation xml:lang="en">
    result is either given via specified address or directly
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ResultAddress" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where result data has been delivered (if completed)
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="ContributorStatus">
          <xs:annotation><xs:documentation xml:lang="en">
          status from the component as result, - if given in this message instead of via data transfer
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="TimeToDeliver" type="TimeMeasure_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    The estimated time before result of request can be delivered
    In a Get this will be the estimated time before requested data is ready for download
    In a Put this will be the estimated time before requested data is uploaded
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:attributeGroup name="VersionAttributes">
    <xs:annotation><xs:documentation xml:lang="en">
    Attributes with information of message version for version control
    </xs:documentation></xs:annotation>
    <xs:attribute name="version" type="xs:positiveInteger" use="required" />
    <xs:attribute name="minVersion" type="xs:nonNegativeInteger" use="required" />
  </xs:attributeGroup>

<!-- ************************************************************** -->
<!-- ****** FUTURE ELEMENTS IN ALPHABETIC ORDER (used later) ****** -->
<!-- ************************************************************** -->

  <!-- Control sizes -->
  <!-- .... -->
  <xs:element name="MaxPackageSize" /> <!-- Unit and measure ... -->

<!-- ************************************************************** -->
<!-- ****** USED TYPES IN ALPHABETIC ORDER                   ****** -->
<!-- ************************************************************** -->

  <xs:complexType name="Action_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Action that can be made on data in the bit repository
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Access">
          <xs:annotation><xs:documentation xml:lang="en">
          Access action
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="GET">
                <xs:annotation><xs:documentation xml:lang="en">
                Access via GET operation
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Other forms of access
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Create">
          <xs:annotation><xs:documentation xml:lang="en">
          Creation action
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="INGEST">
                <xs:annotation><xs:documentation xml:lang="en">
                creation done via ingestion
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="TRANSFER">
                <xs:annotation><xs:documentation xml:lang="en">
                creation done via transfer, e.g. after loss of data
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="CORRECT">
                <xs:annotation><xs:documentation xml:lang="en">
                creation done as part of correction of fault data
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                creation done for other reasons
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Endanger">
          <xs:annotation><xs:documentation xml:lang="en">
          Action possibly endagering the object
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="UNKNOWNACCESS">
                <xs:annotation><xs:documentation xml:lang="en">
                Unknown access where object can have been involved
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="FAILURE">
                <xs:annotation><xs:documentation xml:lang="en">
                Failure that can have involved object, e.g. general system failure with recovery actions
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Other action that can have endagered object
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="IntegrityCheck">
          <xs:annotation><xs:documentation xml:lang="en">
          Action in connection with integrity check
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CHECKSUMSCHECK">
                <xs:annotation><xs:documentation xml:lang="en">
                Checksums check as part of integrity check
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="REPLICACHECK">
                <xs:annotation><xs:documentation xml:lang="en">
                Check whether any/all replica exists as part of integrity check
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="SALTCHECK">
                <xs:annotation><xs:documentation xml:lang="en">
                Check of checksum with salt as part of integrity check
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Other checks as part of integrity check
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Modify">
          <xs:annotation><xs:documentation xml:lang="en">
          Modification action
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="COMPRESS">
                <xs:annotation><xs:documentation xml:lang="en">
                Modification in connection with compression
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="CORRECT">
                <xs:annotation><xs:documentation xml:lang="en">
                Modification in form of minor internal correction, e.g. via RAID
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Modification done for other reasons than the above
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PhysicalMove">
          <xs:annotation><xs:documentation xml:lang="en">
          Physical move action
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="MIGRATION">
                <xs:annotation><xs:documentation xml:lang="en">
                Move in connection with media migration
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OPERATION">
                <xs:annotation><xs:documentation xml:lang="en">
                Move in connection with internal operation, e.g. storage optimisation
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Move done for other reasons than the above
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Remove">
          <xs:annotation><xs:documentation xml:lang="en">
          Remove action
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="TERMINATION">
                <xs:annotation><xs:documentation xml:lang="en">
                FinalResponse termination in remove of object
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="PARTIAL">
                <xs:annotation><xs:documentation xml:lang="en">
                Partial removal with regret period
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Other types of removal action
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:choice>
      <xs:element name="ActionComment" type="xs:string" minOccurs="0" >
        <xs:annotation><xs:documentation xml:lang="en">
        Additional information about the action, e.g. details or specification of 'other' action
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Actor_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Actor who can perform actions on data in the bit repository
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="ActorID" type="ActorID_TYPE" >
        <xs:annotation><xs:documentation xml:lang="en">
        Identifier of the actor in question in the bit repository
        </xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="ActorName" type="xs:string" minOccurs="0">
        <xs:annotation><xs:documentation xml:lang="en">
        Name of the actor in question in the bit repository
        </xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="ActorType">
        <xs:annotation><xs:documentation xml:lang="en">
        Type of actor
        </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="USER">
                <xs:annotation><xs:documentation xml:lang="en">
                User logged on e.g. coordination layer or pillar
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="INTERNALUSER">
                <xs:annotation><xs:documentation xml:lang="en">
                Internal user
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="INTERNALPROGRAM">
                <xs:annotation><xs:documentation xml:lang="en">
                Internal program
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="PROCESS">
                <xs:annotation><xs:documentation xml:lang="en">
                Single File Processing operation
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="MASSPROCESS">
                <xs:annotation><xs:documentation xml:lang="en">
                Mass processing operation
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Something that cannot be covered by other alternatives.
                In this case ActorComment should be filled out
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
      </xs:element>
      <xs:element name="ActorComment" type="xs:string" minOccurs="0" >
        <xs:annotation><xs:documentation xml:lang="en">
        Additional information about the actor
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ActorID_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Unique identifiers for an actor doing actions in the Bit Repository
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="Address_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Address for where data files can be found or placed
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="ALARMCODE_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Error codes that are specific for Alarm messages
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:enumeration value="541">
        <xs:annotation><xs:documentation xml:lang="en">
        General alarm
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="542">
        <xs:annotation><xs:documentation xml:lang="en">
        Unknown user access
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AuditTrailInformation_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Audit Trail Information known to sender to be added to receiver audit trail.
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="BitRepositoryCollectionID_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    A unique identifier for bit repository collection which data belongs to.
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="ChecksumDataForChecksumSpec_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Checksum data belonging to certain checksum specification.
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="FileID" type="FileID_TYPE" >
        <xs:annotation><xs:documentation xml:lang="en">
        Identifier of data the checksum is for
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="ChecksumValue" type="ChecksumValue_TYPE" >
        <xs:annotation><xs:documentation xml:lang="en">
        The value of the checksum
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="CalculationTimestamp" type="SystemDateTime_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        The time when the checksum was last calculated
        (especially for ordinary checksums on off-line medias, there can be long intervals between
        calculations, - in such cases this information is crucial for alarming)
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ChecksumDataForFile_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Checksum data belonging to a certain file ID.
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="ChecksumSpec" type="ChecksumSpec_TYPE" >
        <xs:annotation><xs:documentation xml:lang="en">
        The type and possible salt for calculation of the checksum
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="ChecksumValue" type="ChecksumValue_TYPE" >
        <xs:annotation><xs:documentation xml:lang="en">
        The value of the checksum
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="CalculationTimestamp" type="SystemDateTime_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        The time when the checksum was last calculated
        (especially for ordinary checksums on off-line medias, there can be long intervals between
        calculations, - in such cases this information is crucial for alarming)
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ChecksumSpec_TYPE">
    <xs:sequence>
      <xs:element name="ChecksumType" type="ChecksumType_TYPE" >
        <xs:annotation><xs:documentation xml:lang="en">
        The checksum type
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="ChecksumSalt" type="SaltParameter_TYPE" minOccurs="0" maxOccurs="1" >
        <xs:annotation><xs:documentation xml:lang="en">
        Optionally a salt parameter included in the checksum calculation
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ChecksumType_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Could e.g. be MD5, SHA-1. the protocol, however, does not make restriction of
    which values that exists
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ChecksumValue_TYPE">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Component_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Component of the bit repository
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="ComponentID" type="ComponentID_TYPE" >
        <xs:annotation><xs:documentation xml:lang="en">
        Identifier of the component in question in the bit repository
        </xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="ComponentType">
        <xs:annotation><xs:documentation xml:lang="en">
        Component of the bit repository
        </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CLIENT">
                <xs:annotation><xs:documentation xml:lang="en">
                A Client component
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="PILLAR">
                <xs:annotation><xs:documentation xml:lang="en">
                A Pillar component
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="COORLAYER">
                <xs:annotation><xs:documentation xml:lang="en">
                A component in the coordination layer
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
      </xs:element>
      <xs:element name="ComponentComment" type="xs:string" minOccurs="0" >
        <xs:annotation><xs:documentation xml:lang="en">
        Additional information about the component
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ComponentID_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Unique identifiers for a component in the Bit Repository
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ContributorStatus_TYPE">
    <xs:sequence>
      <xs:element name="ContributorStatusElements">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="NoOfItems" />
            <xs:element name="ContributorStatusElement" type="ContributorStatusElement_TYPE" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="StatusTimestamp" type="SystemDateTime_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        The time when the status was calculated
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContributorStatusElement_TYPE">
    <xs:choice>
      <xs:annotation><xs:documentation xml:lang="en">
      TBD: extend this later e.g. with status elements for ping, water level from pillars etc.
      </xs:documentation></xs:annotation>
      <xs:element name="StatusPlainText" type="xs:string" />
      <xs:element name="StatusPing" type="xs:string" />
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="CorrelationID_TYPE">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ERRORCODE_FINALRESPONSE_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Error codes that are specific for FinalResponse messages
    Numbers may later be adjusted to fit a standard
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:enumeration value="581">
        <xs:annotation><xs:documentation xml:lang="en">
        Operation was not completed for unknown reason
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ERRORCODE_GENERAL_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    General error codes for response messages
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:enumeration value="501">
        <xs:annotation><xs:documentation xml:lang="en">
        File with given FileID has NOT been found for a read request
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="502">
        <xs:annotation><xs:documentation xml:lang="en">
        Duplicate FileID in write request
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="561">
        <xs:annotation><xs:documentation xml:lang="en">
        Request was not understood
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="500">
        <xs:annotation><xs:documentation xml:lang="en">
        There are other reasons for failure
        text following error code must explain reason.
        This code should rarely be used, and use indicates that this type should be updated
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FileID_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Unique identifiers for data in given service level agreement
    In a Get operation this will be the identifier for data requested
    In a Put operation this will be the identifier the data for later request of the data
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FinalResponseCode_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Type with all final response codes for final response messages in the bit repository protocol
    </xs:documentation></xs:annotation>
    <xs:union memberTypes="FinalResponseCodePositive_TYPE ERRORCODE_GENERAL_TYPE ERRORCODE_FINALRESPONSE_TYPE"/>
  </xs:simpleType>

  <xs:simpleType name="FinalResponseCodePositive_TYPE">
    <xs:restriction base="xs:positiveInteger">
      <xs:enumeration value="480">
        <xs:annotation><xs:documentation xml:lang="en">
        Message request has been completed successfully
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IdentifyResponseCode_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Type of all codes for Identify Response messages.
    </xs:documentation></xs:annotation>
    <xs:union memberTypes="IdentifyResponseCodePositive_TYPE ERRORCODE_GENERAL_TYPE"/>
  </xs:simpleType>

  <xs:simpleType name="IdentifyResponseCodePositive_TYPE">
    <xs:restriction base="xs:positiveInteger">
      <xs:enumeration value="440">
        <xs:annotation><xs:documentation xml:lang="en">
        Message request has been received and operation request is expected to be successful
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PillarID_TYPE">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PriorityCode_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Global priority codes for the system, which indicate e.g. how and how fast alarms must be treated
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:enumeration value="1">
        <xs:annotation><xs:documentation xml:lang="en">
        Alarm requires manual checks. Notification should be sent.
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation><xs:documentation xml:lang="en">
        Integrity Client Alarm: Missing IDs.
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation><xs:documentation xml:lang="en">
        Integrity Client Alarm: Checksum errors.
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation><xs:documentation xml:lang="en">
        Other. Notification should be sent. Alarmtext should explain what the alarm consists of.
        This code should rarely be used, and use indicates that this type should be updated.
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ProgressResponseCode_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Type with all progress response codes for progress response message in the bit repository protocol
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:enumeration value="460">
        <xs:annotation><xs:documentation xml:lang="en">
        Message request has been received and is expected to be met successfully
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="461">
        <xs:annotation><xs:documentation xml:lang="en">
        Data from a PutFile request has been buffered successfully
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="462">
        <xs:annotation><xs:documentation xml:lang="en">
        Data for a FileID has been found for some sort of Get request
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="QueueTopicName_TYPE">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Risk_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
      Indicates Risk and Risk Area for Alarm if not treated
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="RiskProbabilityScore" type="RiskProbabilityScore_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
          Probability of specified scenario becoming reality, if alarm is not treated.
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="RiskImpactScore" type="RiskImpactScore_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
          Potential impact of specified scenario becoming reality, if alarm is not treated.
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="RiskArea" type="RiskArea_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
          Global risk code for likelyhood for certain risks to become reality, if alarm is not treated.
          Known risk areas are: availability, bit safety, confidentiality
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="RiskArea_TYPE">
    <xs:restriction base="xs:positiveInteger">
      <xs:enumeration value="1">
        <xs:annotation><xs:documentation xml:lang="en">
          Risk Area availability
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation><xs:documentation xml:lang="en">
          Risk Area bit safety
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation><xs:documentation xml:lang="en">
          Risk Area confidentiality
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RiskImpactScore_TYPE">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:enumeration value="0">
        <xs:annotation><xs:documentation xml:lang="en">
          Zero impact, results in zero loss of digital object authenticity and understandability
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation><xs:documentation xml:lang="en">
          Negligible impact, results in isolated but fully recoverable loss of
          digital object authenticity and understandability
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation><xs:documentation xml:lang="en">
          Superficial impact, results in widespread but fully recoverable
          loss of digital object authenticity and understandability
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation><xs:documentation xml:lang="en">
          Medium impact, results in total but fully recoverable loss of
          digital object authenticity and understandability
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation><xs:documentation xml:lang="en">
          High impact, results in isolated loss, including unrecoverable loss
          of digital object authenticity and understandability
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation><xs:documentation xml:lang="en">
          Considerable impact, results in widespread loss, including unrecoverable loss or loss that is
          recoverable only by third party of digital object authenticity and understandability
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation><xs:documentation xml:lang="en">
          Cataclysmic impact, results in total and unrecoverable loss of
          digital object authenticity and understandability
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RiskProbabilityScore_TYPE">
    <xs:restriction base="xs:positiveInteger">
      <xs:enumeration value="1">
        <xs:annotation><xs:documentation xml:lang="en">
        Minimal probability, occurs once every 100 years or more
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation><xs:documentation xml:lang="en">
        Very low probability, occurs once every 10 years
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation><xs:documentation xml:lang="en">
        Low probability, occurs once every 5 years
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation><xs:documentation xml:lang="en">
        Medium probability, occurs once every year
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation><xs:documentation xml:lang="en">
        High probability, occurs once every month
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation><xs:documentation xml:lang="en">
        Very high probability, occurs more than once every month
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SaltParameter_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    An extra salt to be added in the checksum calculation.
    If this parameter is given, it follows that the checksum calculation must include the salt
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SystemDateTime_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    General type for how date/time is specifed in the bit repository
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:dateTime">
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TimeMeasure_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Indicates time measure from a point in time to another.
    In first version this will be in miliseconds, later it will be consisting of time and unit according to a standard
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="TimeMeasureUnit" >
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="MILLISECONDS">
              <xs:annotation><xs:documentation xml:lang="en">
              Measure is specified in milli seconds
              </xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOURS">
              <xs:annotation><xs:documentation xml:lang="en">
              Measure is specified in hours
              </xs:documentation></xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="TimeMeasureValue" type="xs:nonNegativeInteger" >
        <xs:annotation><xs:documentation xml:lang="en">
        number of units
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
