bitrepository-message-xml/src/main/resources/xsd/BitRepositoryMessages.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- URLs in schema targetNamespace must be updated later -->
<xs:schema targetNamespace="http://bitrepository.org/BitRepositoryMessages.xsd" 
     attributeFormDefault="unqualified" 
     elementFormDefault="qualified" 

	 xmlns="http://bitrepository.org/BitRepositoryMessages.xsd"
     xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:bre="http://bitrepository.org/BitRepositoryElements.xsd"
>
     
  <!-- URL in import targetNamespace must be updated later -->
  <xs:import schemaLocation="BitRepositoryElements.xsd" namespace="http://bitrepository.org/BitRepositoryElements.xsd" />
 
  <!-- ************************************************************** -->
  <!-- * Operation messages for GetFile                                 * -->
  <!-- ************************************************************** -->

  <!-- **************                                                 -->
  <!-- *** Messages for IdentifyPillarsForGetFile Primitive               -->

  <xs:element name="IdentifyPillarsForGetFileRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in IdentifyPillarsForGetFile primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <xs:element ref="bre:FileID" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for requested data in given SLA 
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyPillarsForGetFileReply">
    <xs:annotation><xs:documentation xml:lang="en">
    REPLY in IdentifyPillarsForGetFile primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <xs:element ref="bre:FileID" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for requested data in given SLA
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarID" >
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for pillar replying
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type in case it is a checksum pillar replying 
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:TimeToDeliver" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Estimated time before delivery of data requested
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- **************                                                        -->
  <!-- *** Messages for GetFile Primitive                                        -->
  
  <!-- ***  Messages for GetFile Primitive are only sent to one specific pillar  -->
  <!-- ***  which corresponds to ReplyTo from IdentifyPillarsForGetFileReply     -->
  
  <xs:element name="GetFileRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in GetFile primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
      
        <xs:element ref="bre:FileID" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for requested data in given SLA
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:group ref="bre:FilePart" minOccurs="0" maxOccurs="1"> 
          <xs:annotation><xs:documentation xml:lang="en">
          Specification of part of the data object, in case only a part is wanted
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <xs:element ref="bre:FileAddress" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where data must be delivered
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of receiving pillar, which can be used for possible checks
          (IdentifyPillarsForGetFileReply.ReplyTo should ensure that right pillar is reached) 
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type of receiving checksums pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="GetFileResponse">
    <xs:annotation><xs:documentation xml:lang="en">
    RESPONSE in GetFile primitive.
    Note that there can be more responses to the same GetFileRequest, e.g. if a 
    DVD pillar gives running status of where it is in the get process. 
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <xs:element ref="bre:FileID" >
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for requested data in given SLA
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:group ref="bre:FilePart" minOccurs="0" maxOccurs="1"> 
          <xs:annotation><xs:documentation xml:lang="en">
          Specification of part of the data object, in case only a part is wanted
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <xs:element ref="bre:FileAddress" >
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where data will be delivered
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:ExpectedFileSize" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Expected data size of data object to be send, expressed in bytes.
          This can be used in e.g. capacity checks
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:Checksum" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksum of data object to be send.
          This can be used in checks of correct receival.
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:FileChecksumType" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Type of the above checksum of the data object to be send.
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of replying pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type of replying checksums pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:ResponseCode" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Response code telling whether GetFileRequest has been received and is expected to be completed
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:ResponseText" minOccurs="0" maxOccurs="1" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Response text containing additional information for logging only 
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileComplete">
    <xs:annotation><xs:documentation xml:lang="en">
    COMPLETE in GetFile primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <xs:element ref="bre:FileID" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for requested data in given SLA
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:group ref="bre:FilePart" minOccurs="0" maxOccurs="1"> 
          <xs:annotation><xs:documentation xml:lang="en">
          Specification of part of the data object, in case only a part is wanted
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <xs:element ref="bre:FileAddress" >
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where data has been delivered (if completed)
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
         Identifier of replying pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type of replying checksums pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:CompleteCode" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Complete code telling how Get has been completed
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:CompleteText" minOccurs="0" maxOccurs="1" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Complete text containing additional information for logging only
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- ************************************************************** -->
  <!-- * Operation messages for PutFile                                 * -->
  <!-- ************************************************************** -->

  <!-- **************                                                 -->
  <!-- *** Messages for IdentifyPillarsForPutFile Primitive               -->

  <xs:element name="IdentifyPillarsForPutFileRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in IdentifyPillarsForPutFile primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <xs:element ref="bre:FileID" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for data to be put for given SLA
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyPillarsForPutFileReply">
    <xs:annotation><xs:documentation xml:lang="en">
    REPLY in IdentifyPillarsForPutFile primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <xs:element ref="bre:FileID" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for data to be put for given SLA
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:PillarID" >
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for pillar replying 
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type in case it is a checksum pillar replying
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:TimeToDeliver" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Estimated time before data is downloaded 
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- **************                                                       -->
  <!-- *** Messages for PutFile Primitive                                       -->

  <!-- ***  Messages for PutFile Primitive are only sent to one specific pillar  -->
  <!-- ***  which corresponds to ReplyTo from IdentifyPillarsForPutFileReply     -->
  
  <xs:element name="PutFileRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in PutFile primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <xs:element ref="bre:FileID" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for data to be put for given SLA
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:FileAddress" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where data must be downloaded from
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:ExpectedFileSize" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Expected data size of data object to be put, expressed in bytes.
          This can be used in e.g. capacity checks
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="ChecksumForCheck" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Optionally checksum (and type) of data object to be put.
          This can be used in checks of correct receival.
          </xs:documentation></xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="bre:Checksum"/> 
              <xs:element ref="bre:FileChecksumType"/> 
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="SaltForCheck" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Optionally salt (and type of checksum) for extra checksumscheck of data object at 
          completion to of put file. The result can be given in PutFileComplete
          </xs:documentation></xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="bre:SaltParameter"/> 
              <xs:element name="SaltChecksumType" type="bre:ChecksumsType_TYPE"/> 
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of receiving pillar, which can be used for possible checks
          (IdentifyPillarsForPutFileReply.ReplyTo should ensure that right pillar is reached)
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type of receiving checksums pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="PutFileResponse">
    <xs:annotation><xs:documentation xml:lang="en">
    RESPONSE in PutFile primitive
    Note that there can be more responses to the same PutFileRequest, e.g. if a 
    DVD pillar gives running status of where it is in the put process. 
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <xs:element ref="bre:FileID" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for data to be put for given SLA
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:FileAddress" >
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where data is to be downloaded from
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of receiving pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type of receiving checksums pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:ResponseCode" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Response code telling whether PutRequest has been received and is expected to be completed
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:ResponseText" minOccurs="0" maxOccurs="1" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Response text containing additional information for logging only
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="PutFileComplete">
    <xs:annotation><xs:documentation xml:lang="en">
    COMPLETE in PutFile primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <xs:element ref="bre:FileID" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for data to be put for given SLA
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:FileAddress" >
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where data has been downloaded from (if completed)
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of receiving pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type of receiving checksums pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:CompleteCode" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Complete code telling how Put has been completed
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:CompleteText" minOccurs="0" maxOccurs="1" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Complete text containing additional information for logging only
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element name="CompleteSaltChecksum" type="bre:Checksum_TYPE" minOccurs="0" maxOccurs="1" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Checksum calculated as specified in PutFileRequest, if specified
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- ************************************************************** -->
  <!-- * Get checksums operation messages                           * -->
  <!-- ************************************************************** -->

  <!-- **************                                                 -->
  <!-- *** Messages for IdentifyPillarsForGetChecksums Primitive      -->

  <xs:element name="IdentifyPillarsForGetChecksumsRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in IdentifyPillarsForGetChecksums primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <xs:element ref="bre:FileIDs" >
          <xs:annotation><xs:documentation xml:lang="en">
          FileIDs uniquely identifies the data in given SLA which the checksums are requested for
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:FileChecksumType" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type requested
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:SaltParameter" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          SaltParameter is salt to be included in calculation of checksums requested
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>
      
      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="IdentifyPillarsForGetChecksumsReply">
    <xs:annotation><xs:documentation xml:lang="en">
    REPLY in IdentifyPillarsForGetChecksums primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <xs:element ref="bre:FileIDs" >
          <xs:annotation><xs:documentation xml:lang="en">
          FileIDs uniquely identifies the data in given SLA which the checksums are requested for
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:FileChecksumType" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type requested 
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:SaltParameter" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          SaltParameter is salt to be included in calculation of checksums requested
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:PillarID" >
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for pillar replying 
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type in case it is a checksum pillar replying 
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:TimeToDeliver" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Estimated time before delivery of checksums requested 
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- **************                                                 -->
  <!-- *** Messages for GetChecksums Primitive                        -->

  <!-- ***  Messages for GetChecksums Primitive are only sent to one specific pillar  -->
  <!-- ***  which corresponds to ReplyTo from IdentifyPillarsForGetChecksumsReply     -->
  
  <xs:element name="GetChecksumsRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in GetChecksums primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <xs:element ref="bre:FileIDs" >
          <xs:annotation><xs:documentation xml:lang="en">
          FileIDs uniquely identifies the data in given SLA which the checksums are requested for
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:FileChecksumType" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type requested 
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:SaltParameter" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          SaltParameter is salt to be included in calculation of checksums requested
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where checksums must be delivered via data transmission.
          In cases where the address is not given, the result will be given in the GetChecksumsComplete message
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of receiving pillar, which can be used for possible checks
          (IdentifyPillarsForGetReply.ReplyTo should ensure that right pillar is reached)         
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type of receiving checksums pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="GetChecksumsResponse">
    <xs:annotation><xs:documentation xml:lang="en">
    RESPONSE in GetChecksums primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <xs:element ref="bre:FileIDs" >
          <xs:annotation><xs:documentation xml:lang="en">
          FileIDs uniquely identifies the data in given SLA which the checksums are requested for
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:FileChecksumType" > 
          <xs:annotation><xs:documentation xml:lang="en">
          FileChecksumType is the checksums type requested
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:SaltParameter" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          SaltParameter is salt to be included in calculation of checksums requested
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where checksums will be delivered
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of receiving pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type of receiving checksums pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:ResponseCode" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Response code telling whether GetChecksumsRequest has been received and is expected to be completed
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:ResponseText" minOccurs="0" maxOccurs="1" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Response text containing additional information for logging only
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="GetChecksumsComplete">
    <xs:annotation><xs:documentation xml:lang="en">
    COMPLETE in GetChecksums primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <xs:element ref="bre:FileIDs" >
          <xs:annotation><xs:documentation xml:lang="en">
          FileIDs uniquely identifies the data in given SLA which the checksums are requested for
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:FileChecksumType" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type requested
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:SaltParameter" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          SaltParameter is salt to be included in calculation of checksums requested
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where result data has been delivered (if completed)
          Note that this field will NOT be specified if the result is included in the
          ChecksumsData below. This rule is not directly enforced by the xsd definition 
          because it would add complexity and since violation to rule while not do any harm.
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of receiving pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarChecksumType" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Checksums type of receiving checksums pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:CompleteCode" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Complete code telling how GetChecksums has been completed
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:CompleteText" minOccurs="0" maxOccurs="1" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Complete text containing additional information for logging only 
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:NoOfItems" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The number of checksums included (as part of result), 
          if given in this message instead of via data transfer
          Note that this field will NOT be specified if ResultAddress is included. 
          This rule is not directly enforced by the xsd definition 
          because it would add complexity and since violation to rule while not do any harm.
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:group ref="bre:ChecksumsData" minOccurs="0" maxOccurs="unbounded" > 
          <xs:annotation><xs:documentation xml:lang="en">
          List of data for checksums in result, if given in this message instead of via data transfer
          Note that this field will NOT be specified if ResultAddress is included. 
          This rule is not directly enforced by the xsd definition 
          because it would add complexity and since violation to rule while not do any harm.
          </xs:documentation></xs:annotation>
        </xs:group>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- ************************************************************** -->
  <!-- * Operation messages for GetFileIDs                          * -->
  <!-- ************************************************************** -->

  <!-- **************                                                 -->
  <!-- *** Messages for IdentifyPillarsForGetFileIDs Primitive        -->

  <xs:element name="IdentifyPillarsForGetFileIDsRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in IdentifyPillarsForGetFileIDs primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyPillarsForGetFileIDsReply">
    <xs:annotation><xs:documentation xml:lang="en">
    REPLY in IdentifyPillarsForGetFileIDs primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>

        <xs:element ref="bre:PillarID" >
          <xs:annotation><xs:documentation xml:lang="en">
          Unique identifier for pillar replying
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:TimeToDeliver" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Estimated time before delivery of data requested
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- **************                                                 -->
  <!-- *** Messages for GetFileIDs Primitive                          -->
  
  <!-- ***  Messages for GetFileIDs Primitive are only sent to one specific pillar  -->
  <!-- ***  which corresponds to ReplyTo from IdentifyPillarsForGetFileIDsReply     -->
  
  <xs:element name="GetFileIDsRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    REQUEST in GetFileIDs primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
      
        <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where data ids must be delivered via data transmission
          In cases where the address is not given, the result will be given in the GetFileIdsComplete message
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of receiving pillar, which can be used for possible checks
          (IdentifyPillarsForGetFileIDsReply.ReplyTo should ensure that right pillar is reached) 
          </xs:documentation></xs:annotation>
        </xs:element>

      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="GetFileIDsResponse">
    <xs:annotation><xs:documentation xml:lang="en">
    RESPONSE in GetFileIDs primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where data will be delivered
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of receiving pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:ResponseCode" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Response code telling whether GetRequest has been received and is expected to be completed
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:ResponseText" minOccurs="0" maxOccurs="1" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Response text containing additional information for logging only
          </xs:documentation></xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileIDsComplete">
    <xs:annotation><xs:documentation xml:lang="en">
    COMPLETE in GetFileIDs primitive
    </xs:documentation></xs:annotation>
    <xs:complexType>

      <!-- Contents -->
      <xs:sequence>
        <xs:group ref="bre:Core" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The mandatory part of a operation message with CorrelationID, SlaID and ReplyTo
          </xs:documentation></xs:annotation>
        </xs:group>
        
        <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" >
          <xs:annotation><xs:documentation xml:lang="en">
          Address (e.g. in form of an URL) for where result data has been delivered (if completed)
          Note that this field will NOT be specified if the result is included in the
          FileIDsData below. This rule is not directly enforced by the xsd definition 
          because it would add complexity and since violation to rule while not do any harm.
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          Identifier of receiving pillar, which can be used for possible checks
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:CompleteCode" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Complete code telling how Get has been completed
          </xs:documentation></xs:annotation>
        </xs:element>
        
        <xs:element ref="bre:CompleteText" minOccurs="0" maxOccurs="1" >  
          <xs:annotation><xs:documentation xml:lang="en">
          Complete text containing additional information for logging only
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:element ref="bre:NoOfItems" minOccurs="0" maxOccurs="1" > 
          <xs:annotation><xs:documentation xml:lang="en">
          The number of checksums included, if given in this message instead of via data transfer
          Note that this field will NOT be specified if ResultAddress is included. 
          This rule is not directly enforced by the xsd definition 
          because it would add complexity and since violation to rule while not do any harm.
          </xs:documentation></xs:annotation>
        </xs:element>

        <xs:group ref="bre:FileIDsData" minOccurs="0" maxOccurs="unbounded" > 
          <xs:annotation><xs:documentation xml:lang="en">
          List of data for data ids in result, if given in this message instead of via data transfer
          Note that this field will NOT be specified if ResultAddress is included. 
          This rule is not directly enforced by the xsd definition 
          because it would add complexity and since violation to rule while not do any harm.
          </xs:documentation></xs:annotation>
        </xs:group>

      </xs:sequence>

      <!-- Attributes with information of message version for version control -->
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="minVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>

</xs:schema>
