bitrepository-message-xml/src/main/resources/xsd/BitRepositoryElements.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- URLs in schema targetNamespace must be updated later -->
<xs:schema 
  targetNamespace="http://bitrepository.org/BitRepositoryElements.xsd"
  elementFormDefault="qualified"
  
  xmlns="http://bitrepository.org/BitRepositoryElements.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

<!-- ************************************************************** -->
<!-- ****** USED ELEMENTS AND GROUPS IN ALPHABETIC ORDER     ****** -->
<!-- ************************************************************** -->

  <xs:element name="AuditTrailData">
    <xs:annotation><xs:documentation xml:lang="en">
    Data format for elements in an audit trail for a FileID
    </xs:documentation></xs:annotation>
    <xs:complexType>
    <xs:sequence>
      <xs:element ref="FileID" > 
        <xs:annotation><xs:documentation xml:lang="en">
        FileID for object which the audit trail concern
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="ActionDateTime" type="SystemDateTime_TYPE"> 
        <xs:annotation><xs:documentation xml:lang="en">
        Date and time for when action took place
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="ReportingComponent" type="Component_TYPE"> 
        <xs:annotation><xs:documentation xml:lang="en">
        Component of the bit repository which initiated audit trail entry on FileId object.
        For example client, pillar or coordination layer
        </xs:documentation></xs:annotation>
      </xs:element>
  
      <xs:element name="ActorOnFile" type="Actor_TYPE"> 
        <xs:annotation><xs:documentation xml:lang="en">
        Actor who performed the specified action on FileId object.
        For example specific user or specific process
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="ActionOnFile" type="Action_TYPE"> 
        <xs:annotation><xs:documentation xml:lang="en">
        Action performed by the actor on FileId object
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Checksum" type="Checksum_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Checksum measure for specific data object
    e.g. used in delivery of GetChecksums result
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:group name="ChecksumsData">
    <xs:annotation><xs:documentation xml:lang="en">
    Includes relevant information for a checksum in a result
    </xs:documentation></xs:annotation>

    <xs:sequence>
      <xs:element name="FileID" type="FileID_TYPE" >
        <xs:annotation><xs:documentation xml:lang="en">
        Identifier of data the checksum is for
        </xs:documentation></xs:annotation>
      </xs:element>
         
      <xs:element name="Checksum" type="Checksum_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        Checksum of data which will be based on given algorithm and include salt if specified 
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="CalculationTime" type="SystemDateTime_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        The time when the checksum was last calculated
        (especially for ordinary checksums on off-line medias, there can be long intervals between
        calculations, - in such cases this information is crucial for alarming)
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="Core">
    <xs:annotation><xs:documentation xml:lang="en">
    Includes elements that all protocol messages must include.
    The core part will NOT be included in specific SLA related encryption
    </xs:documentation></xs:annotation>

    <xs:sequence>
      <xs:element ref="CorrelationID">
        <xs:annotation><xs:documentation xml:lang="en">
        CorrelationID is a unique identifier for communication usually on primitive level, 
        e.g the IdentifyPillarsForGet part of a get operation
        </xs:documentation></xs:annotation>
      </xs:element>
       
      <xs:element name="SlaID" type="SlaID_TYPE"> 
        <xs:annotation><xs:documentation xml:lang="en">
        SlaID is a unique identifier for SLA which data belongs to.
        This is also the identification of decryption and keys for contents of message
        </xs:documentation></xs:annotation>
      </xs:element>
      
      <xs:element name="ReplyTo" type="ReplyTo_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        Contains name of queue/topic to reply/respond to 
        (blank if not relevant, e.g. for alarms)
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  
  
  <xs:element name="CompleteCode" type="CompleteCode_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    CompleteCode is a code for the type of completion given
    The actual codes are specified later, e.g. IoError, DataNotFound, AccessDenied, OK
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="CompleteText" type="xs:string">
    <xs:annotation><xs:documentation xml:lang="en">
    CompleteText is a text for logging in the completion
    It does not have a semantic meaning, but contributes to a more readable log
    </xs:documentation></xs:annotation>
  </xs:element>
  
  <xs:element name="CorrelationID" type="CorrelationID_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    A unique identifier for communication usually on primitive level, 
    e.g the IdentifyPillarsForGet part of a get operation.
    It can also be used to make relation to a message e.g. for data IDs 
    delivered via data transmission.
    </xs:documentation></xs:annotation>
  </xs:element>
  
  <xs:element name="ExpectedFileSize" type="xs:nonNegativeInteger"> 
    <xs:annotation><xs:documentation xml:lang="en">
    The size of data expressed in number of bytes
    e.g. size of data to be put
    The type can later be extended to include measure type and measure
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="FileAddress" type="Address_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Address (e.g. in form of an URL) for where data can be found
    In a Get operation this will be the address where data requested must be placed
    In a Put operation this will be the identifier the data for later request of the data
    </xs:documentation></xs:annotation>
  </xs:element>
  
  <xs:element name="FileChecksumType" type="ChecksumsType_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Gives information about which type of checksum is used for data
    This is for instance used for the GetChecksum operation 
    In first version this will be text like MD5, later it will be aligned with a standard 
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="FileID" type="FileID_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Unique identifiers for data in given service level agreement
    In a Get operation this will be the identifier for data requested
    In a Put operation this will be the identifier the data for later request of the data
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="FileIDs">
    <xs:annotation><xs:documentation xml:lang="en">
    Identifiers that uniquely identifies the data in given SLA which are requested for
    These can be specified in different ways, e.g. a list, an all constant or via an address
    </xs:documentation></xs:annotation>

    <xs:complexType>
      <xs:choice>
        <xs:element name="FileID" type="FileID_TYPE" minOccurs="1" maxOccurs="unbounded" >
          <xs:annotation><xs:documentation xml:lang="en">
          List of identifiers for data in given SLA
          </xs:documentation></xs:annotation>
        </xs:element>
            
        <xs:element name="AllFileIDs" type="xs:string">
          <xs:annotation><xs:documentation xml:lang="en">
          Specification that all data identifiers in SLA is requested
          </xs:documentation></xs:annotation>
        </xs:element>
                  
        <xs:element name="ParameterAddress" type="Address_TYPE">
          <xs:annotation><xs:documentation xml:lang="en">
          Address where File ID list can be found on form FileIDsParameters
          </xs:documentation></xs:annotation>
        </xs:element>

        <!-- To be enhanced with other ways to address chunks of identifiers, e.g. for mass processing -->
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:group name="FileIDsData">
    <xs:annotation><xs:documentation xml:lang="en">
    Includes relevant information on data IDs in a result
    </xs:documentation></xs:annotation>
    <xs:sequence>
             
      <xs:element name="FileID" type="FileID_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        Identifier of data
        </xs:documentation></xs:annotation>
      </xs:element>
         
      <xs:element name="CalculationTime" type="SystemDateTime_TYPE">
        <xs:annotation><xs:documentation xml:lang="en">
        The time when the data  was last seen
        (especially for off-line medias, there can be long intervals between
        actually seeing the file with the data, - in such cases this information is crucial for alarming)
        </xs:documentation></xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:group>

  <xs:group name="FilePart" > 
    <xs:annotation><xs:documentation xml:lang="en">
    Specification of data object part by posion and length after position
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="PartOffSet" type="xs:nonNegativeInteger">
        <xs:annotation><xs:documentation xml:lang="en">
        Start position of the part of the data object
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element name="PartLength" type="xs:nonNegativeInteger">
        <xs:annotation><xs:documentation xml:lang="en">
        length of the part of the data object
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:element name="NoOfItems" type="xs:nonNegativeInteger"> 
    <xs:annotation><xs:documentation xml:lang="en">
    The number of results given in a delivered result
    e.g. number of checksums in result given in a data transmitted file or in a message
    </xs:documentation></xs:annotation>
  </xs:element>
  
  <xs:element name="ParameterAddress" type="Address_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Address where parameter can be found 
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="PillarChecksumType" type="ChecksumsType_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Information about which type of checksum is used for data on checksums pillar
    In a Get this information will only be relevant for identification of pillars
    In a Put this will give input to check if the right put is performed on checksums pillar according to SLA
    In first version this will be text like MD5, later it will be aligned with a standard 
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="PillarID" type="PillarID_TYPE"> 
    <xs:annotation><xs:documentation xml:lang="en">
    A unique identifier for a specific pillar (covered by  the SLA which data belongs to)
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="ResponseCode" type="ResponseCode_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    A code for the type of response given
    The actual codes are specified later, e.g. UnknownFileId, OK
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="ResponseText" type="xs:string">
    <xs:annotation><xs:documentation xml:lang="en">
    A text for logging in the response. 
    It does not have a semantic meaning, but contributes to a more readable log
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="ResultAddress" type="Address_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Address (e.g. in form of an URL) for where result data can be found
    </xs:documentation></xs:annotation>
  </xs:element>
  
  <xs:element name="SaltParameter" type="SaltParameter_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    An extra salt to be added in the checksum calculation
    If this parameter is given, it is also specification the checksum calculation must include the salt
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="SlaID" type="SlaID_TYPE"> 
    <xs:annotation><xs:documentation xml:lang="en">
    A unique identifier for SLA which data belongs to.
    </xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="TimeToDeliver" type="TimeMeasure_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    The estimated time before result of request can be delivered
    In a Get this will be the estimated time before requested data is ready for download 
    In a Put this will be the estimated time before requested data is uploaded 
    </xs:documentation></xs:annotation>
  </xs:element>

<!-- ************************************************************** -->
<!-- ****** FUTURE ELEMENTS IN ALPHABETIC ORDER (used later) ****** -->
<!-- ************************************************************** -->
  
  <!-- Control sizes -->
  <!-- .... -->
  <xs:element name="MaxPackageSize" /> <!-- Unit and measure ... -->
  
<!-- ************************************************************** -->
<!-- ****** USED TYPES IN ALPHABETIC ORDER                   ****** -->
<!-- ************************************************************** -->
  
  <xs:complexType name="Action_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Action that can be made on data in the bit repository
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Access">
          <xs:annotation><xs:documentation xml:lang="en">
          Access action 
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="GET">
                <xs:annotation><xs:documentation xml:lang="en">
                Access via GET operation 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Other forms of access 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Create">
          <xs:annotation><xs:documentation xml:lang="en">
          Creation action 
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="INGEST">
                <xs:annotation><xs:documentation xml:lang="en">
                creation done via ingestion 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="TRANSFER">
                <xs:annotation><xs:documentation xml:lang="en">
                creation done via transfer, e.g. after loss of data 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="CORRECT">
                <xs:annotation><xs:documentation xml:lang="en">
                creation done as part of correction of fault data 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                creation done for other reasons 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Endanger">
          <xs:annotation><xs:documentation xml:lang="en">
          Action possibly endagering the object
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="UNKNOWNACCESS">
                <xs:annotation><xs:documentation xml:lang="en">
                Unknown access where object can have been involved 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="FAILURE">
                <xs:annotation><xs:documentation xml:lang="en">
                Failure that can have involved object, e.g. general system failure with recovery actions 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Other action that can have endagered object 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="IntegrityCheck">
          <xs:annotation><xs:documentation xml:lang="en">
          Action in connection with integrity check
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CHECKSUMSCHECK">
                <xs:annotation><xs:documentation xml:lang="en">
                Checksums check as part of integrity check 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="REPLICACHECK">
                <xs:annotation><xs:documentation xml:lang="en">
                Check whether any/all replica exists as part of integrity check 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="SALTCHECK">
                <xs:annotation><xs:documentation xml:lang="en">
                Check of checksum with salt as part of integrity check
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Other checks as part of integrity check
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Modify">
          <xs:annotation><xs:documentation xml:lang="en">
          Modification action
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="COMPRESS">
                <xs:annotation><xs:documentation xml:lang="en">
                Modification in connection with compression 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="CORRECT">
                <xs:annotation><xs:documentation xml:lang="en">
                Modification in form of minor internal correction, e.g. via RAID 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Modification done for other reasons than the above 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PhysicalMove">
          <xs:annotation><xs:documentation xml:lang="en">
          Physical move action 
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="MIGRATION">
                <xs:annotation><xs:documentation xml:lang="en">
                Move in connection with media migration
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OPERATION">
                <xs:annotation><xs:documentation xml:lang="en">
                Move in connection with internal operation, e.g. storage optimisation
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Move done for other reasons than the above 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Remove">
          <xs:annotation><xs:documentation xml:lang="en">
          Remove action 
          </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="TERMINATION">
                <xs:annotation><xs:documentation xml:lang="en">
                Complete termination in remove of object
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="PARTIAL">
                <xs:annotation><xs:documentation xml:lang="en">
                Partial removal with regret period
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Other types of removal action 
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:choice>
      <xs:element name="ActionComment" type="xs:string" minOccurs="0" >
        <xs:annotation><xs:documentation xml:lang="en">
        Additional information about the action, e.g. details or specification of 'other' action
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Actor_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Actor who can perform actions on data in the bit repository
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="ActorID" type="ActorID_TYPE" >
        <xs:annotation><xs:documentation xml:lang="en">
        Identifier of the actor in question in the bit repository
        </xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="ActorName" type="xs:string" minOccurs="0">
        <xs:annotation><xs:documentation xml:lang="en">
        Name of the actor in question in the bit repository
        </xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="ActorType">
        <xs:annotation><xs:documentation xml:lang="en">
        Type of actor
        </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="USER">
                <xs:annotation><xs:documentation xml:lang="en">
                User logged on e.g. coordination layer or pillar
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="INTERNALUSER">
                <xs:annotation><xs:documentation xml:lang="en">
                Internal user
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="INTERNALPROGRAM">
                <xs:annotation><xs:documentation xml:lang="en">
                Internal program
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="PROCESS">
                <xs:annotation><xs:documentation xml:lang="en">
                Single File Processing operation
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="MASSPROCESS">
                <xs:annotation><xs:documentation xml:lang="en">
                Mass processing operation
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="OTHER">
                <xs:annotation><xs:documentation xml:lang="en">
                Something that cannot be covered by other alternatives.
                In this case ActorComment should be filled out
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
      </xs:element>
      <xs:element name="ActorComment" type="xs:string" minOccurs="0" >
        <xs:annotation><xs:documentation xml:lang="en">
        Additional information about the actor
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ActorID_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Unique identifiers for an actor doing actions in the Bit Repository 
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <xs:simpleType name="Address_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Address for where data files can be found or placed
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <xs:simpleType name="ChecksumsType_TYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MD5"/>
      <xs:enumeration value="SHA-3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Checksum_TYPE">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="CompleteCode_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Type with all complete codes for complete message in the bit repository protocol
    </xs:documentation></xs:annotation>
    <xs:union memberTypes="CompleteCodePositive_TYPE ERRORCODE_GENERAL_TYPE ERRORCODE_COMPLETE_TYPE"/>
  </xs:simpleType>

  <xs:simpleType name="CompleteCodePositive_TYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK">
        <xs:annotation><xs:documentation xml:lang="en">
        Code telling that message request has been completed successfully
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Component_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Component of the bit repository
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="ComponentID" type="ComponentID_TYPE" >
        <xs:annotation><xs:documentation xml:lang="en">
        Identifier of the component in question in the bit repository
        </xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="ComponentType">
        <xs:annotation><xs:documentation xml:lang="en">
        Component of the bit repository
        </xs:documentation></xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CLIENT">
                <xs:annotation><xs:documentation xml:lang="en">
                A Client component
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="PILLAR">
                <xs:annotation><xs:documentation xml:lang="en">
                A Pillar component
                </xs:documentation></xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="COORLAYER">
                <xs:annotation><xs:documentation xml:lang="en">
                A component in the coordination layer
                </xs:documentation></xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
      </xs:element>
      <xs:element name="ComponentComment" type="xs:string" minOccurs="0" >
        <xs:annotation><xs:documentation xml:lang="en">
        Additional information about the component
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ComponentID_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Unique identifiers for a component in the Bit Repository 
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="CorrelationID_TYPE">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ERRORCODE_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Type with all sorts of error codes in the bit repository protocol
    </xs:documentation></xs:annotation>
    <xs:union memberTypes="ERRORCODE_GENERAL_TYPE ERRORCODE_ALARM_TYPE ERRORCODE_COMPLETE_TYPE ERRORCODE_RESPONSE_TYPE"/>
  </xs:simpleType>
  
  <xs:simpleType name="ERRORCODE_COMPLETE_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Error codes that are specific for Complete messages
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ERR_NOCOM">
        <xs:annotation><xs:documentation xml:lang="en">
        Code telling that operation was not completed for unknown reason
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ERRORCODE_ALARM_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Error codes that are specific for Alarm messages
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWNUSER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ERRORCODE_GENERAL_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    General error codes
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ERR_NFID">
        <xs:annotation><xs:documentation xml:lang="en">
        Code telling that data for a FileID has been NOT been found for som sort of Get request
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ERR_DID">
        <xs:annotation><xs:documentation xml:lang="en">
        Code telling that there are duplicate FileID 
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ERR_OTHER">
        <xs:annotation><xs:documentation xml:lang="en">
        Code telling that there are other reasons for failure
        text following error code must explain reason.
        This code should rarely be used, and use indicates that this type should be updated 
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ERRORCODE_RESPONSE_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Error codes that are specific for Response messages
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ERR_NOUND">
        <xs:annotation><xs:documentation xml:lang="en">
        Code telling that request was not understood
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FileID_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Unique identifiers for data in given service level agreement
    In a Get operation this will be the identifier for data requested
    In a Put operation this will be the identifier the data for later request of the data
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="PillarID_TYPE">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ReplyTo_TYPE">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ResponseCode_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Type with all response codes for response message in the bit repository protocol
    </xs:documentation></xs:annotation>
    <xs:union memberTypes="ResponseCodePositive_TYPE ERRORCODE_GENERAL_TYPE ERRORCODE_RESPONSE_TYPE"/>
  </xs:simpleType>

  <xs:simpleType name="ResponseCodePositive_TYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK">
        <xs:annotation><xs:documentation xml:lang="en">
        Code telling that message request has been received and is expected to be met successfully
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OK_BF">
        <xs:annotation><xs:documentation xml:lang="en">
        Code telling that data from a PutFile request has been buffered successfully
        </xs:documentation></xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OK_DF">
        <xs:annotation><xs:documentation xml:lang="en">
        Code telling that data for a FileID has been found for some sort of Get request
        </xs:documentation></xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SaltParameter_TYPE">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SlaID_TYPE">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SystemDateTime_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    General type for how date/time is specifed in the bit repository
    </xs:documentation></xs:annotation>
    <xs:restriction base="xs:dateTime">
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TimeMeasure_TYPE">
    <xs:annotation><xs:documentation xml:lang="en">
    Indicates time measure from a point in time to another.
    In first version this will be in miliseconds, later it will be consisting of time and unit according to a standard 
    </xs:documentation></xs:annotation>
    <xs:choice>
      <xs:element name="MiliSec" type="xs:positiveInteger" >
        <xs:annotation><xs:documentation xml:lang="en">
        number of miliseconds
        </xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="Hours" type="xs:positiveInteger" >
        <xs:annotation><xs:documentation xml:lang="en">
        number of hours
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>
